
* {
    box-sizing: border-box;
}

#showCase {
    
    background-color: white;
    border: solid 2px red;
    width:400px;
    
}

.inline {
    display: block;
}

.flexbox {
    display: flex;
}

.flexbox__button {
    display: none;
}

#flexbox__button__div {
    display: flex;
}

.grid { 
    display: grid;
}